<div data-role="view" data-title="Mon Compte" data-layout="account-view-layout" data-model="app.accountInfoVM">
    <div id="homeModel" class="form-view">
	    <img src="http://demos.telerik.com/kendo-ui/content/shared/images/eduardo.jpg" class="km-thumbnail" 
             style="width: 10em; height: 10em; margin: 1em auto; display: block; float: none;"/>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Nom</span>
                        <input data-bind="value: accountModel.fields.lastName" placeholder="Votre nom" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Prénom</span>
                        <input data-bind="value: accountModel.fields.firstName" placeholder="Votre prénom" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Email</span>
                        <input data-bind="value: accountModel.fields.email" placeholder="Votre adresse mail" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Téléphone</span>
                        <input data-bind="value: accountModel.fields.telephone" placeholder="Votre téléphone" type="tel">
                    </label>
                </li>
                <li>
                    <fieldset>
                        <legend><a href="#" class="km-legend-button">Adresse</a></legend>
                        <input data-bind="value: accountModel.fields.rue" placeholder="Numéro de rue" type="text" />
                    </fieldset>
                </li>
                <li>
                    <label class="km-label-above km-label-hidden">
	                    <input data-bind="value: accountModel.fields.codepostal" placeholder="Code postal" type="text" />
                    </label>
                </li>
                <li>
                    <label class="km-label-above km-label-hidden">
                    	<input data-bind="value: accountModel.fields.ville" placeholder="Ville" type="text" />
                    </label>
                </li>
            </ul>
        </form>
    </div>
</div>