<div data-role="view" data-title="Mon Compte" data-layout="account-view-layout">
    <div id="twidoViewModel" class="form-view">
	    <img src="images/twido.png" class="km-thumbnail" 
             style="width: 10em; height: 10em; margin: 1em auto; display: block; float: none;"/>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label>
                        <span>Type de contrat</span>
                        <select data-bind="value: twidoViewModel.fields.contractType" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li class="form-content-item">
                    <label>
                        <span>Vérouillage poussoir</span>
                        <input data-bind="value: twidoViewModel.fields.buttonVerouillage" data-role="switch">
                    </label>
                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Coûts</h4>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Electricité</span>
                        <input data-bind="value: twidoViewModel.fields.electricityCost" placeholder="€/KwH" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Eau</span>
                        <input data-bind="value: twidoViewModel.fields.electricityCost" placeholder="€/m3" type="text">
                    </label>
                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Coûts</h4>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Conseigne Température</span>
                        <input id="slider" data-role="slider" 
                               data-orientation="horizontal"  
                               data-max="70" data-min="15" 
                               data-small-step="5"
                               data-tick-placement="both" class="km-full-width-slider" />
                    </label>
                </li>
            </ul>
        </form>
    </div>
</div>